//-
    name: weather
    description: Markup for the weather block
    arguments:
        - {object} props - block properties

mixin weather(props = {})
    .weather&attributes(attributes)
        .gsInformer#gsInformerID-25yEMTr07OLJ45(style="width:325px;height:140px")
            .gsIContent
                #cityLink
                    A(href="https://www.gismeteo.ua/weather-new-york-7190/" target="_blank" title="Погода в Нью-Йорке")
                        img(src="https://www.gismeteo.ua/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Нью-Йорке")

                .gsLinks
                    table
                        tr
                            td
                                .leftCol
                                    A(href="https://www.gismeteo.ua/" target="_blank" title="Погода в Нью-Йорке")


                                    .rightCol
                                        A(href="https://www.gismeteo.ua/weather-new-york-7190/2-weeks/" target="_blank" title="Погода в Нью-Йорке на 2 недели")


